{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>Атик-Моторс</title>

</head>

<body>

    <content>

        <div class="pass_error_logo">
            <a href="/">
                <img class="pass_error_logo_settings" src="/static/main/img/header/Атик-Моторс.jpg">
            </a>
        </div>

        <div class="pass_error_box">
            <div class="pass_error_text">
                Превышено допустимое количество попыток ввода пароля.<br>Пожалуйста, попробуйте повторить запрос позднее.
            </div>
        </div>
    

    </content>

</body>
</html>
    