{% extends 'main/sample.html' %}


{% block head %} {% include 'main/header.html' %} {% endblock %}


{% block content %}

    <div class="text">
        <div class="content_box">
            <div class="text_title">О Компании</div>
            <div class="models_line"></div>
            <div class="main_text">

                <img class="main_photo" src="../../static/company/img/photo.jpg">
    
                <p>Автохолдинг «Атик-Моторс» — это компания, чья деятельность по продаже и обслуживанию автомобилей начинается с 2006 года.</p>
                
                <p>На сегодняшний день автоцентры автохолдинга «Атик-Моторс» предоставляют весь спектр услуг по продаже и обслуживанию автомобилей следующих марок: Geely, Hyundai, Nissan, Renault, KIA, Toyota, Lexus.</p>
                
                <p>Мы работаем персонально с каждым клиентом на всех этапах приобретения и обслуживания автомобиля в сервисных центрах. Квалифицированные специалисты компании прошли обучение на специальных курсах от производителя и авторизованы для проведения всех видов работ и обслуживания. Одновременно с продвижением популярных автомобильных брендов, «Атик-Моторс» пропагандирует и высокие стандарты качества обслуживания клиентов.</p>

                <p>Кроме того, компания «Атик-Моторс» активно участвует в жизни региона и поддерживает социальные и культурные проекты. Мы стремимся быть не только успешным бизнесом, но и ответственным участником общества. Кроме того, мы регулярно проводим специальные акции и программы для наших клиентов, предлагая выгодные условия на приобретение автомобилей и дополнительные услуги.</p>
                
                <p>Наша цель - сделать покупку и обслуживание автомобиля максимально удобными и выгодными для каждого клиента. Обращаясь в автоцентры «Атик-Моторс», вы можете быть уверены в получении высококлассного сервиса и индивидуального подхода к вашим потребностям.</p>

                <p>В дилерских центрах «Атик-Моторс» доступен весь перечень дополнительных услуг, способных сделать покупку автомобиля максимально удобной и комфортной:</p>

                <p class="text_indent">- кредитование&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;- продленная гарантия</p>
                <p class="text_indent">- страхование&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- помощь на дорогах</p>
                <p class="text_indent">- лизинг&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;- оригинальные запчасти и аксессуары</p>
                <p class="text_indent">- trade-in&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- дополнительное оборудование</p>
                <p class="text_indent">- тест-драйв</p>

                <p>Сервисные центры и кузовной цех автохолдинга «Атик-Моторс» являются крупнейшими в Амурской области. Установленное в них современное оборудование позволяет проводить все необходимые работы по техническому обслуживанию и ремонту автомобилей как отечественного, так и импортного производства. Качество выполненных работ в сервисных центрах компании подтверждено соответствующими сертификатами, высокой квалификацией персонала и многочисленными положительными отзывами наших клиентов.</p>

                <p>Высокое качество обслуживания, честное и долгосрочное отношение к Клиентам, а также широкий спектр сопутствующих услуг — вот те преимущества, которыми пользуются Клиенты автохолдинга «Атик-Моторс».</p>
    
            </div>
        </div>
    </div>

{% endblock %}