{% extends 'main/sample.html' %}


{% block head %} {% include 'main/header.html' %} {% endblock %}


{% block content %}

    <div class="text">
        <div class="content_box">
            <div class="text_title">Политика обработки персональных данных</div>
            <div class="models_line"></div>
            <div class="main_text">
    
                <p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:</p>

                <p class="text_indent">- Осуществление клиентской поддержки</p>
                <p class="text_indent">- Получения Пользователем информации о маркетинговых событиях</p>
                <p class="text_indent">- Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</p>
                    
                <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:</p>
                    
                <p class="text_indent">- Фамилия, Имя, Отчество</p>
                <p class="text_indent">- Контактный телефон</p>
                <p class="text_indent">- Адрес электронной почты</p>
                    
                <p>Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
                <p>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</p>
                    
                <p class="text_indent">- По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ.</p>
                <p class="text_indent">- Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.</p>
                    
                <p>Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.</p>
                
                <p>Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: Благовещенск, ул. Кольцевая, д. 57, ООО "Атик-Моторс" с пометкой «Отзыв согласия на обработку персональных данных».</p>

            </div>
        </div>
    </div>

{% endblock %}