{% extends 'main/sample.html' %}


{% block head %} {% include 'main/header.html' %} {% endblock %}


{% block content %}

    <div class="text">
        <div class="content_box">
            <div class="text_title">Гарантия</div>
            <div class="models_line"></div>
            <div class="guarantee_main_text">
                
                <div class="guarantee_photo_box">
                    <img class="guarantee_photo" src="../../static/services/img/photo guarantee.png">
                </div>

                <div class="guarantee_text_box">

                    <p>Полная уверенность в предлагаемых нами автомобилях позволяет гарантировать надежную работу узлов и агрегатов в течение 60 месяцев или 150 000 км пробега (в зависимости от того, что наступит ранее) при условии соблюдения Вами рекомендаций, изложенных в руководстве по эксплуатации автомобиля.</p>

                    <p>Наша уверенность основана на опыте и знаниях специалистов, которые возьмут на себя не только гарантийное техническое обслуживание Вашего автомобиля, но и устранение возможных неисправностей, используя при этом только оригинальные запчасти.</p>
                    
                    <p>Мы позаботимся о том, чтобы Ваш автомобиль всегда был «в форме» и удовлетворял Вашим самым взыскательным требованиям.</p>
                    
                    <p>Наши партнеры стремятся к постоянному совершенствованию своей продукции, что может коснуться и Вашего автомобиля, поэтому они оставляют за собой право изменить некоторые условия и положения, упомянутые в сервисной книжке, без специального уведомления.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}